/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Arial;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {

}


/*HEADER*/ 

    header {
        width: 100%;
        height: 120px;
        background: #ec2d2d;
    }
        .wrap {
            width: 100%;
            max-width: 1246px;
            height: 100%;
            margin: 0 auto;
            position: relative;
        }
        .header-wrap {

        }
            .top-menu-block {
                width: 100%;
                height: 40px;
                line-height: 40px;
            }
                .city-select {
                    color: #fe9389;
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 16px;
                    float: left;
                    margin-top: 12px;
                }
                    .city-select:before {
                        content: '';
                        display: inline-block;
                        width: 12px;
                        height: 16px;
                        background: url('../img/ico/geo_pale.png') center no-repeat;
                        margin-right: 8px;
                        vertical-align: bottom;
                    }
                    .city-select:after {
                        content: '';
                        display: inline-block;
                        width: 12px;
                        height: 7px;
                        background: url('../img/ico/down_pale.png') center no-repeat;
                        margin-left: 8px;
                        vertical-align: middle;
                    }
                .top-menu {
                    text-align: center;
                    margin-left: 130px;
                    float: left;
                }
                    .top-menu li {
                        display: inline-block;
                        list-style: none;
                        padding: 0 15px;
                    }
                        .top-menu li a {
                            color: #fe9389;
                            text-decoration: none;
                            font-size: 16px;
                            display: block;
                        }
                .phone {
                    float: right;
                    font-weight: bold;
                    color: #ffb5ae;
                    font-size: 18px;
                    text-decoration: none;
                }

            .header-bottom {
                width: 100%;
                height: 80px;
                padding: 20px 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                line-height: 40px;
            }
                .header-logo {
                    float: left;
                }
                    .header-logo img {
                        width: 165px;
                        height: 36px;
                    }
                .header-menu {
                    float: left;
                    margin: 0;
                    padding-left: 55px;
                }
                    .header-menu li {
                        display: inline-block;
                        list-style: none;
                        margin-right: 40px;
                    }
                        .header-menu li a {
                            color: #fff;
                            font-size: 20px;
                            text-decoration: none;
                        }
                .header-mobile {
                    float: right;
                    height: 64px;
                    width: 160px;
                    display: none;
                    justify-content: space-between;
                    align-items: center;
                }
                    .search_mobile {
                        display: inline-block;
                        vertical-align: middle;
                        width: 40px;
                        height: 38px;
                        background: url('../img/ico/search.png') center no-repeat;
                    }
                    .menu_mobile {
                        display: inline-block;
                        vertical-align: middle;
                        width: 42px;
                        height: 32px;
                        background: url('../img/ico/hamburger.png') center no-repeat;
                    }
                .search {
                    float: right;
                    width: 21px;
                    height: 40px;
                    background: url('../img/ico/search.png') center no-repeat;
                }
                .login {
                    float: right;
                    padding: 0 20px;
                    height: 40px;
                    line-height: 36px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 2px solid #fff;
                    border-radius: 20px;
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                    margin-left: 30px;
                    -webkit-transition: all .3s ease-out;
                    -o-transition: all .3s ease-out;
                    transition: all .3s ease-out;
                }
                    .login:hover {
                        background: #fff;
                        color: #ec2d2d;
                    }
    
/*TOP SLIDER*/

    .top-slider {
        width: 100%;
    }
            .top-slider__slide {
                height: 100%;
                width: 100%;
                position: relative;
                
            }
                .slide_discount {
                    
                }
                .slide__top {
                    height: 500px;
                    width: 100%;
                    padding: 60px 0;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }
                    .slide_discount .slide__top {
                        background: #ecdfd3 url('../img/chicken.png') right 25% top 50% no-repeat;
                    }
                    .slide_japan .slide__top {
                        background: #ecdfd3;
                        background-image: url('../img/japan.png'); /* fallback */
                        background-image: url('../img/japan.png'), linear-gradient(to top right, #f4e1af, #f5eeda); /* W3C */
                        background-position: right center;
                        background-repeat: no-repeat;
                        padding-top: 120px;
                        padding-bottom: 100px;
                    }
                    .top-slider__slide .wrap>p {
                        margin: 0;
                        font-size: 20px;
                        color: #000;
                    }
                        .slide_discount .slide__date {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        .slide_japan .slide__date {
                            
                        }
                        .slide_discount .slide__weight {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                        .slide_japan .slide__info {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
                    .top-slider__slide h3 {
                        font-size: 50px;
                        line-height: 60px;
                        color: #000;
                        font-weight: 700;
                        margin: 80px 0 0;
                        float: left;
                    }
                        .slide_discount h3 {
                            max-width: 30%;
                        }
                        .slide_japan h3 {
                            margin-top: 40px;
                        }
                    .top-slider__slide.slide_discount img {
                        position: absolute;
                        right: 13%;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                    .top-slider__slide.slide_japan img {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                .slide__bottom {
                    height: 60px;
                    width: 100%;
                }
                    .slide__price {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 200px;
                        height: 200px;
                        background: #52d05d url('../img/green-circle.png') center no-repeat;
                        border-radius: 50%;
                        padding: 0 30px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                    }
                        .slide_japan .slide__price {
                            background: #46b650;
                            line-height: 200px;
                        }
                            .slide_japan .slide__price .discount {
                                color: #fff;
                                font-size: 54px;
                                text-align: center;
                            }
                        .new-price {
                            color: #fff;
                            font-size: 54px;
                            line-height: 54px;
                            margin: 40px 0 5px;
                        }
                        .old-price {
                            color: #0e7b2f;
                            font-size: 27px;
                            margin: 0;
                            position: relative;
                        }
                            .old-price:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 2px;
                                width: 70px;
                                height: 23px;
                                background: url('../img/ico/deny.png') center no-repeat;
                            }
                        .discount {
                            color: #fff;
                            font-size: 27px;
                            margin: 0;
                            text-align: right;
                        }
                    .slide__social {
                        padding: 0;
                        margin: 0;
                        font-size: 0;
                        position: absolute;
                        bottom: 0;
                    }
                        .slide__social li {
                            display: inline-block;
                            list-style: none;
                            margin-right: 30px;
                        }
                            .slide__social li a {
                                display: block;
                                width: 40px;
                                height: 40px;
                                border: 2px solid #e4dacf;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                border-radius: 20px;
                                -webkit-transition: all .3s ease-out;
                                -o-transition: all .3s ease-out;
                                transition: all .3s ease-out;
                            }
                                .slide__social li a.vk {
                                    background: url('../img/ico/vk.png') center no-repeat;
                                }
                                    .slide__social li a.vk:hover {
                                        border: none;
                                        background: #597da3 url('../img/ico/vk_white.png') center no-repeat;
                                    }
                                .slide__social li a.ok {
                                    background: url('../img/ico/ok.png') center no-repeat;
                                }
                                    .slide__social li a.ok:hover {
                                        border: none;
                                        background: #f58220 url('../img/ico/ok_white.png') center no-repeat;
                                    }
                                .slide__social li a.mailru {
                                    background: url('../img/ico/mail.png') center no-repeat;
                                }
                                    .slide__social li a.mailru:hover {
                                        border: none;
                                        background: #168de2 url('../img/ico/mail_white.png') center no-repeat;
                                    }
            
            .slick-dots {
                margin: 0;
                padding: 0;
                text-align: center;
                position: absolute;
                bottom: 13px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
            }
                .slick-dots li {
                    display: inline-block;
                    list-style: none;
                    margin: 0 15px;
                }
                    .slick-dots li button {
                        font-size: 0;
                        padding: 0;
                        width: 14px;
                        height: 14px;
                        border: 2px solid #e6dbd1;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        background: transparent;
                        border-radius: 50%;
                        -webkit-transition: all .2s ease-out;
                        -o-transition: all .2s ease-out;
                        transition: all .2s ease-out;
                    }
                        .slick-dots li button:focus, .slick-dots li button:active {
                            outline: 0;
                        }
                        .slick-dots li.slick-active button {
                            background: #ec2e2e;
                            border: none;
                        }

/*RECIPIES*/

.recipies {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f7fafd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f7fafd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f7fafd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7fafd',GradientType=0 ); /* IE6-9 */
}
    .recipies h3 {
        float: left;
        font-size: 20px;
        color: #000;
        margin: 0;
    }
    .recipies__all {
        font-size: 18px;
        color: #ec2e2e;
        float: right;
        text-decoration: none;
    }

    .recipies-block {
        width: 100%;
        padding-top: 40px;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
        .recipe-item {
            display: inline-block;
            position: relative;
            width: 30%;
            background: #fff;
            border: 1px solid #eff0f2;
            box-shadow: 0 0 3px #eff0f2;
            border-radius: 5px;
            overflow: hidden;
            text-decoration: none;
        }
                /*.recipe-item_left {
                    float: left;
                }
                .recipe-item_right {
                    float: right;
                }*/
            .recipe-img-wrap {
                width: 100%;
                height: 220px;
                overflow: hidden;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
                .recipe-img-wrap img {
                    width: 100%;
                    min-height: 100%;
                    -webkit-transition: all .3s ease-out;
                    -o-transition: all .3s ease-out;
                    transition: all .3s ease-out;
                }
                    .recipe-item:hover img {
                        -webkit-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        transform: scale(1.1);
                    }

            .recipe__price {
                text-align: center;
                margin: 0;
                display: block;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background: #46b650;
                color: #fff;
                font-size: 20px;
                line-height: 80px;
                text-decoration: none;
                position: absolute;
                top: 160px;
                right: 20px;
            }
            .recipe__bot {
                position: relative;
                padding: 20px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                text-align: left;
                height: 220px;
            }
                .recipe__type {
                    color: #b6b6b6;
                    font-size: 14px;
                    padding-left: 35px;
                    margin: 0;
                }
                    .recipe__type.veg {
                        background: url('../img/ico/veg.png') left center no-repeat;
                    }
                .recipe__bot h4 {
                    font-size: 20px;
                    color: #000;
                    margin: 5px 0;
                }
                .recipe__time {
                    font-size: 16px;
                    color: #b6b6b6;
                    margin: 0;
                }
                    .recipe__time:before {
                        content: '';
                        display: inline-block;
                        width: 14px;
                        height: 13px;
                        background: url('../img/ico/time.png') center no-repeat;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                .product-select {
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #ec2e2e;
                    border-top: 1px solid #f4f5f5;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
                    .recipe-item:hover .product-select {
                        background: #ec2e2e;
                        color: #fff;
                    }


/*TRADEMARKS*/

.trademarks {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .trademarks ul {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        .trademarks ul li {
            display: inline-block;
            list-style: none;
            width: 100px;
            height: 100px;
            background: #e9eff3;
            border-radius: 50%;
            vertical-align: middle;
        }
            .trademarks ul li:first-child {
                margin-left: 0;
            }
            .trademarks ul li:last-child {
                background: #ec2e2e;
                font-size: 24px;
                color: #fff;
                line-height: 100px;
                text-align: center;
                margin-right: 0;
            }

/*SHOPS*/

.shops {
    width: 100%;
    height: 300px;
    background: #0f8433;
    position: relative;
    padding: 80px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .map-wrap {
        width: 600px;
        height: 300px;
        position: absolute;
        left: 20%;
        top: 0;
    }
        .shops .map {
            position: absolute;
            left: 0;
            top: 0;
        }
        .shops h4 {
            position: absolute;
            right: 0;
            top: 60px;
            color: #fff;
            font-size: 120px;
            margin: 0;
        }
            .shops h4 span {
                color: #bdcf01;
                font-size: 24px;
                position: absolute;
                left: 0;
                top: 130px;
                font-family: monospace;
            }


/*LOYALTY*/

.loyalty {
    width: 100%;
    background: #ec2e2e;
    padding: 60px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .loyalty__left {
        color: #fff;
        float: left;
        width: 50%;
    }
        .loyalty__left h3 {
            font-size: 50px;
            line-height: 50px;
            margin: 0 0 20px;
        }
        .loyalty__left p {
            font-size: 18px;
            margin: 0 0 40px;
        }
        .loyalty__left a {
            font-size: 18px;
            color: #fff;
            text-decoration: none;
            display: inline-block;
            height: 60px;
            line-height: 56px;
            border: 2px solid #fff;
            border-radius: 30px;
            padding: 0 35px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
        }
            .loyalty__left a:hover {
                background: #fff;
                color: #ec2e2e;
            }

    .loyalty__right {
        float: right;
        margin-right: 5%;
        margin-top: 20px;
        width: 337px;
        height: 200px;
        background: #fff url('../img/logo_red.png') left 29px top 22px no-repeat;
        border-radius: 22px;
    }


/*FOOTER*/

footer {
    background: #434d54;
    width: 100%;
    height: 490px;
    padding-top: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .footer-menu {
        margin: 0;
        padding: 0;
        float: left;
        width: 70%;
        font-size: 0;
    }
        .footer-menu>li {
            list-style: none;
            display: inline-block;
            font-size: 18px;
            color: #8e9498;
            vertical-align: top;
            width: 25%;
        }
            .footer-menu>li ul {
                margin: 0;
                padding: 0;
            }
                .footer-menu>li ul li {
                    list-style: none;
                    margin-bottom: 5px;
                }
                    .footer-menu>li ul li:first-child {
                        margin-bottom: 12px;
                    }
                    .footer-menu>li ul li a {
                        font-size: 14px;
                        color: #fff;
                        text-decoration: none;
                    }
    .footer__right {
        width: 30%;
        float: right;
    }
        .footer__right p {
            color: #8e9498;
            font-size: 16px;
            line-height: 28px;
        }
    .footer-menu_mobile {
        display: none;
    }


/*1024px*/

@media screen and (min-width:1023px) and (max-width:1365px) {

    .wrap {
        width: 964px;
    }
        .top-menu {
            margin-left: 100px;
        }

    .slide_discount .slide__top {
        background-position: right 20% top 50%;
    }
    .slide_japan .slide__top {
        background-position: right -100% top 50%;
    }

    .recipe-item {
        width: 31%;
    }
        .recipe-img-wrap {
            height: 180px;
        }
        .recipe__bot {
            height: 180px;
        }
        .recipe__price {
            width: 65px;
            height: 65px;
            line-height: 65px;
            top: 130px;
        }
        .product-select {
            height: 47px;
            line-height: 47px;
        }


    .recipies {
        padding-top: 70px;
        padding-bottom: 30px;
    }
        .recipies-block {
            padding-top: 20px;
        }

    .trademarks {
        height: 212px;
    }
    .map-wrap {
        left: 15%;
    }
    .loyalty__right {
        margin-right: 3%;
    }
footer {
    background: #4d4d4d;
}

}


/*640px*/

@media screen and (max-width:1023px) {


header {
    height: 208px;
}
    .wrap {
        width: 100%;
        max-width: 640px;
        padding: 0 5%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .top-menu-block {
            display: none;
        }
            .header-logo img {
                width: 100%;
                height: 100%;
            }
        .header-bottom {
            height: 100%;
            padding: 35px 0;
        }
        .header-menu {
            padding: 0;
            margin-top: 35px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
            .header-menu li {
                margin-right: 0;
            }
                .header-menu li a {
                    font-size: 28px;
                }
        .login {
            display: none;
        }
        .search {
            display: none;
        }
        .header-mobile {
            display: flex;
        }

    .slide__top {
        height: 640px;
        padding-top: 45px;
    }
        .slide_discount .slide__date {
            position: static;
        }
        .slide_discount h3 {
            max-width: 100%;
            margin-top: 15px;
            float: none;
        }
        .slide_discount p.slide__weight {
            position: static;
            margin-top: 10px;
        }
        .slide_discount .slide__top {
            background-position: right 50% top 80%;
        }
        .slide_japan .slide__top {
            padding-top: 60px;
            background: #F4E1AF url('../img/japan.png') right -375px bottom no-repeat;
        }
            .slide_japan h3 {
                float: none;
                margin-top: 10px;
            }
            .slide_japan .slide__info {
                position: static;
            }
    .slide__bottom {
        height: 100px;
    }

        .slide__price {
            right: 5%;
        }

            /*.slide__social li a {
                width: 72px;
                height: 72px;
                border-radius: 36px;
            }
                .slide__social li a.vk {
                    background-image: url('../img/ico/vk_mob.png');
                }
                .slide__social li a.ok {
                    background-image: url('../img/ico/ok_mob.png');
                }
                .slide__social li a.mailru {
                    background-image: url('../img/ico/mail_mob.png');
                }*/
        .slick-dots {
            bottom: 125px;
            left: 10%;
        }
            .slick-dots li button {
                border-color: #c3ae9b;
            }

.recipies {
    padding-top: 40px;
}
    .recipe-item {
        width: 100%;
        display: none;
    }
        .recipe-item:first-child {
            display: block;
            border-radius: 10px;
        }
            .recipe-img-wrap {
                height: 336px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .recipe__price {
                top: 294px;
            }
            .recipe__bot {
                height: 170px;
            }

    .trademarks ul li:nth-child(odd) {
        display: none;
    }


    .map-wrap {
        left: -10%;
    }

.loyalty {
    padding: 30px 0;
}
    .loyalty .wrap {
        padding-bottom: 90px;
    }

        .loyalty__left {
            width: 100%;
            float: none;
        }
            .loyalty__left h3 {
                font-size: 44px;
            }
                .loyalty__left a {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    max-width: 576px;
                    text-align: center;
                }

        .loyalty__right {
            float: none;
            width: 100%;
            max-width: 576px;
            height: 320px;
            margin: 10px auto 0;
        }

footer {
    padding-top: 0;
    height: auto;
    background: #4d4d4d;
}
    .footer-menu {
        display: none;
    }
        .footer-menu_mobile {
            display: block;
        }
            .footer-menu_mobile {
                display: block;
                margin: 0;
                padding: 0;
            }
                .footer-menu_mobile>li {
                    list-style: none;
                    border-bottom: 1px solid #697176;
                }
                    .footer-menu_mobile>li>a {
                        display: block;
                        width: 100%;
                        height: 56px;
                        line-height: 56px;
                        background: url('../img/ico/v.png') right center no-repeat;
                        font-size: 20px;
                        color: rgba(255, 255, 255, .4);
                        text-decoration: none;
                    }
                    .footer-menu_mobile li ul {
                        padding: 0;
                        margin: 10px 0;
                    }
                        .footer-menu_mobile li ul li {
                            list-style: none;
                        }
                            .footer-menu_mobile li ul li a {
                                display: block;
                                font-size: 14px;
                                height: 30px;
                                line-height: 30px;
                                color: rgba(255, 255, 255, .4);
                                text-decoration: none;
                            }

    .footer__right {
        width: 100%;
        float: none;
        margin-top: 30px;
    }


}

/* <640px */
@media screen and (max-width:639px) {

header {
    height: 104px;
}
    .header-mobile {
        height: 40px;
        max-width: 90px;
    }
        .header-menu {
            margin-top: 10px;   
        }
            .header-menu li a {
                font-size: 14px;
            }

            .header-bottom {
                padding: 10px 0 0;
            }

    .slide__top {
        height: 320px;
        padding-top: 30px;
    }
        .top-slider__slide .wrap>p {
            font-size: 10px;
        }
        .top-slider__slide h3 {
            font-size: 25px;
            line-height: 30px;
        }
        .slide_discount .slide__top {
           background-size: 75%; 
        }
        .slide_japan .slide__top {
           background-size: 85%;
           background-position: right -100px bottom;
        }

        .slide__price {
            width: 100px;
            height: 100px;
            padding: 0 15px;
            -webkit-background-size: 100%;
            background-size: 100%;
        }
            .slide_japan .slide__price {
                line-height: 100px;
            }
                .slide_japan .slide__price .discount {
                    font-size: 27px;
                }
            .new-price {
                font-size: 27px;
                line-height: 27px;
                margin-top: 20px;
            }
            .old-price {
                font-size: 13px;
                line-height: 13px;
            }
                .old-price:after {
                    width: 35px;
                    height: 11px;
                    top: -1px;
                }
            .discount {
                font-size: 13px;
            }


    .slide__bottom {
        height: 50px;
    }
        .slide__social li a {
            width: 36px;
            height: 36px;
        }

    .slick-dots {
        bottom: 60px;
        left: 15%;
    }
    
.recipies {
    padding-bottom: 20px;
}
    .recipies__all {
        font-size: 12px;
        line-height: 28px;
    }
    .recipies-block {
        padding-top: 20px;
    }
        .recipe-img-wrap {
            height: 168px;
        }

        .recipe__bot {
            padding: 10px;
            height: 150px;
        }
            .recipe__type {
                font-size: 12px;
            }
            .recipe__bot h4 {
                font-size: 18px;
            }
            .recipe__time {
                font-size: 13px;
            }
                .recipe__time:before {
                    vertical-align: text-top;
                }
            .recipe__price {
                top: 138px;
                right: 5%;
                width: 60px;
                height: 60px;
                line-height: 60px;
                font-size: 18px;
            }


            .product-select {
                height: 50px;
                line-height: 50px;
            }

.trademarks {
    height: 150px;
}
    .trademarks ul li {
        width: 50px;
        height: 50px;
    }
        .trademarks ul li:last-child {
            font-size: 16px;
            line-height: 50px;
        }

.shops {
    height: 150px;
    padding: 0;
}
    .map-wrap {
        width: 300px;
        height: 150px;
        left: 0;
        position: relative;
        margin: 0 auto;
    }
        .map-wrap img {
            width: 196px;
            height: 100%;
        }
        .shops h4 {
            font-size: 60px;
            top: 30px;
        }
            .shops h4 span {
                font-size: 20px;
                top: 65px;
            }

.loyalty {
    padding: 15px 0;
}
    .loyalty .wrap {
        padding-bottom: 55px;
    }
        .loyalty__left h3 {
            font-size: 25px;
            line-height: 25px;
        }
        .loyalty__left p {
            font-size: 14px;
            margin-bottom: 20px;
        }
        .loyalty__left a {
            height: 40px;
            line-height: 36px;
            width: auto;
            font-size: 14px;
            right: 5%;
            left: 5%;
        }
    .loyalty__right {
        height: 180px;
    }

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
